In [12]:
import random
import cx_Oracle
import datetime 
cx_Oracle.init_oracle_client(lib_dir=r"C:\OracleDBproject\instantclient_21_7")  # 여기서 각자 라이브러리 위치 설정해줘야함
connection = cx_Oracle.connect(user='admin', password='Semorang1234', dsn='semodb_high')
# 본인이 접속할 오라클 클라우드 DB 사용자이름, 비밀번호, dsn을 넣어준다.
print(connection)

ProgrammingError: Oracle Client library has already been initialized

In [13]:
# 전체 thing들 가져오기
cursor = connection.cursor()
cursor.execute("select T.THING_ID from THING T")
thing_rows = cursor.fetchall()
total_thing_list = [i[0] for i in thing_rows]

In [14]:

# THINGRANK 한 줄 만들기
# thing에서 thing_id를 가져와야함. 주의! user 1명은 thing 1개에 대해서 1나의 thingrank만 가진다. ranks는 1부터 순차적으로 올라감(즉, 기존에 그 유저가 몇 개 만들었는지 확인해야함)
def random_thingrank(thingrank_id,user_id):
        # THINGRANK 전부 가져와서 THING_ID만 출력
        cursor = connection.cursor()
        cursor.execute("select T.THING_ID  from USERS U ,THINGRANK TR, THING T WHERE U.USER_ID = TR.USER_ID AND T.THING_ID  = TR.THING_ID AND U.USER_ID = :TEMP_USER_ID",TEMP_USER_ID = user_id)
        user_t_rows = cursor.fetchall()
        user_thing_list = [i[0] for i in user_t_rows]


        thingrank_id = 'tr_'+str(thingrank_id)
        
        thing_id = random.choice(total_thing_list)
        while thing_id in user_thing_list:
            if len(user_thing_list) == len(total_thing_list):
                print("모든 thing에 대해 thingrank 다 만들었음. 더 이상은 못 만들어")
                break
            thing_id = random.choice(total_thing_list)
            
        ranks = len(user_t_rows)+1

        thingking_year = str(random.randint(2019,2020))
        thingking_month = str(random.randint(1,12))
        thingking_day = str(random.randint(1,28))
        thingking_date = thingking_year + '-' + thingking_month + '-' + thingking_day
        thingking_date = datetime.datetime.strptime(thingking_date, '%Y-%m-%d')

        update_year = str(random.randint(2021,2022))
        update_month = str(random.randint(1,12))
        update_day = str(random.randint(1,28))
        update_date = update_year + '-' + update_month + '-' + update_day
        update_date = datetime.datetime.strptime(update_date, '%Y-%m-%d')

        return ((thingrank_id,thing_id, user_id, ranks, thingking_date, update_date))

(26057111,
 'user_1',
 4,
 datetime.datetime(2019, 9, 20, 0, 0),
 datetime.datetime(2022, 6, 4, 0, 0))

In [15]:
cursor = connection.cursor()
cursor.execute("select U.USER_ID from USERS U")
user_rows = cursor.fetchall()
total_user_list = [i[0] for i in user_rows]

In [16]:
def auto_make_thingrank(n):
    count = 0
    while count < n:
        # user 1명 랜덤 선택
        thingrank_id = count +1
        user = random.choice(total_user_list)
        one_tr = random_thingrank(thingrank_id,user)
        #return ((thingrank_id,thing_id, user_id, ranks, thingking_date, update_date))
        print("INSERT INTO THINGRANK VALUES ('{}',{},'{}',{},'{}','{}');".format(one_tr[0],one_tr[1],one_tr[2],one_tr[3],one_tr[4].date(),one_tr[5].date()))
        cursor.execute("INSERT INTO THINGRANK VALUES (:1,:2,:3,:4,:5,:6)", one_tr)        
        count +=1

In [17]:
auto_make_thingrank(300)

INSERT INTO THINGRANK VALUES ('tr_1',25292488,'user_5',1,'2020-11-03','2022-02-14');
INSERT INTO THINGRANK VALUES ('tr_2',23178356,'user_23',1,'2019-12-04','2022-09-22');
INSERT INTO THINGRANK VALUES ('tr_3',23178356,'user_1',1,'2019-10-26','2022-02-11');
INSERT INTO THINGRANK VALUES ('tr_4',23382779,'user_13',1,'2020-07-22','2022-12-19');
INSERT INTO THINGRANK VALUES ('tr_5',18120193,'user_32',1,'2020-01-20','2022-06-02');
INSERT INTO THINGRANK VALUES ('tr_6',25458448,'user_29',1,'2020-11-22','2021-07-16');
INSERT INTO THINGRANK VALUES ('tr_7',26303950,'user_20',1,'2020-11-19','2022-06-08');
INSERT INTO THINGRANK VALUES ('tr_8',16410914,'user_28',1,'2019-04-01','2021-05-28');
INSERT INTO THINGRANK VALUES ('tr_9',17572409,'user_50',1,'2019-01-08','2022-06-13');
INSERT INTO THINGRANK VALUES ('tr_10',18390076,'user_13',2,'2019-11-05','2021-09-12');
INSERT INTO THINGRANK VALUES ('tr_11',18118531,'user_42',1,'2020-02-18','2022-12-20');
INSERT INTO THINGRANK VALUES ('tr_12',23317507,'user_10',1,'2019-03-19','2022-06-23');
INSERT INTO THINGRANK VALUES ('tr_13',17852141,'user_4',1,'2020-08-24','2021-05-22');
INSERT INTO THINGRANK VALUES ('tr_14',18118531,'user_30',1,'2020-01-12','2021-07-19');
INSERT INTO THINGRANK VALUES ('tr_15',16630137,'user_44',1,'2020-04-27','2021-04-03');
INSERT INTO THINGRANK VALUES ('tr_16',25292488,'user_43',1,'2019-03-15','2022-03-26');
INSERT INTO THINGRANK VALUES ('tr_17',23382779,'user_38',1,'2020-04-06','2022-04-07');
INSERT INTO THINGRANK VALUES ('tr_18',19914111,'user_14',1,'2020-02-14','2021-10-12');
INSERT INTO THINGRANK VALUES ('tr_19',12518380,'user_23',2,'2020-02-19','2021-06-03');
INSERT INTO THINGRANK VALUES ('tr_20',16947896,'user_40',1,'2020-10-09','2021-04-03');
INSERT INTO THINGRANK VALUES ('tr_21',25755835,'user_22',1,'2019-01-14','2021-06-21');
INSERT INTO THINGRANK VALUES ('tr_22',12518380,'user_2',1,'2020-09-15','2022-12-26');
INSERT INTO THINGRANK VALUES ('tr_23',16410914,'user_9',1,'2019-04-05','2022-02-08');
INSERT INTO THINGRANK VALUES ('tr_24',18070554,'user_39',1,'2020-10-05','2022-07-02');
INSERT INTO THINGRANK VALUES ('tr_25',19913970,'user_19',1,'2020-02-20','2021-05-13');
INSERT INTO THINGRANK VALUES ('tr_26',17050121,'user_24',1,'2020-02-25','2022-06-13');
INSERT INTO THINGRANK VALUES ('tr_27',23382779,'user_20',2,'2020-04-01','2021-01-14');
INSERT INTO THINGRANK VALUES ('tr_28',23317507,'user_44',2,'2020-05-11','2022-04-16');
INSERT INTO THINGRANK VALUES ('tr_29',19994629,'user_21',1,'2020-10-09','2021-11-18');
INSERT INTO THINGRANK VALUES ('tr_30',25290079,'user_24',2,'2020-01-17','2021-11-08');
INSERT INTO THINGRANK VALUES ('tr_31',16060477,'user_35',1,'2020-01-10','2022-12-10');
INSERT INTO THINGRANK VALUES ('tr_32',25290079,'user_15',1,'2019-03-27','2022-02-04');
INSERT INTO THINGRANK VALUES ('tr_33',16060477,'user_39',2,'2019-06-24','2021-08-17');
INSERT INTO THINGRANK VALUES ('tr_34',17063413,'user_18',1,'2019-03-12','2022-01-22');
INSERT INTO THINGRANK VALUES ('tr_35',19914111,'user_21',2,'2019-03-15','2021-06-28');
INSERT INTO THINGRANK VALUES ('tr_36',16679243,'user_27',1,'2019-03-15','2022-09-10');
INSERT INTO THINGRANK VALUES ('tr_37',16642883,'user_23',3,'2020-09-28','2021-02-15');
INSERT INTO THINGRANK VALUES ('tr_38',20546259,'user_49',1,'2019-12-12','2022-03-22');
INSERT INTO THINGRANK VALUES ('tr_39',19913970,'user_9',2,'2019-11-04','2021-04-15');
INSERT INTO THINGRANK VALUES ('tr_40',16718508,'user_39',3,'2020-10-04','2021-04-09');
INSERT INTO THINGRANK VALUES ('tr_41',19994629,'user_27',2,'2019-10-15','2022-04-07');
INSERT INTO THINGRANK VALUES ('tr_42',17720028,'user_38',2,'2019-11-26','2022-07-28');
INSERT INTO THINGRANK VALUES ('tr_43',17126506,'user_3',1,'2020-07-22','2022-11-24');
INSERT INTO THINGRANK VALUES ('tr_44',16642883,'user_50',2,'2020-01-23','2021-03-07');
INSERT INTO THINGRANK VALUES ('tr_45',12518380,'user_35',2,'2019-12-25','2021-05-05');
INSERT INTO THINGRANK VALUES ('tr_46',26431599,'user_38',3,'2019-05-17','2022-11-11');
INSERT INTO THINGRANK VALUES ('tr_47',12074539,'user_35',3,'2020-03-04','2021-04-13');
INSERT INTO THINGRANK VALUES ('tr_48',16630137,'user_5',2,'2019-02-25','2022-06-16');
INSERT INTO THINGRANK VALUES ('tr_49',25292488,'user_3',2,'2020-10-12','2021-09-24');
INSERT INTO THINGRANK VALUES ('tr_50',26070557,'user_10',2,'2019-04-11','2022-04-15');
INSERT INTO THINGRANK VALUES ('tr_51',23382779,'user_22',2,'2019-02-18','2021-09-04');
INSERT INTO THINGRANK VALUES ('tr_52',17262371,'user_46',1,'2019-06-16','2021-04-11');
INSERT INTO THINGRANK VALUES ('tr_53',18118531,'user_28',2,'2019-10-21','2022-08-19');
INSERT INTO THINGRANK VALUES ('tr_54',17126506,'user_43',2,'2020-12-11','2021-10-27');
INSERT INTO THINGRANK VALUES ('tr_55',16060477,'user_43',3,'2019-10-16','2022-09-19');
INSERT INTO THINGRANK VALUES ('tr_56',16410914,'user_3',3,'2019-02-15','2022-05-06');
INSERT INTO THINGRANK VALUES ('tr_57',25755835,'user_23',4,'2019-07-15','2022-06-04');
INSERT INTO THINGRANK VALUES ('tr_58',12074539,'user_3',4,'2020-07-19','2021-11-28');
INSERT INTO THINGRANK VALUES ('tr_59',12074539,'user_45',1,'2019-03-03','2022-02-20');
INSERT INTO THINGRANK VALUES ('tr_60',17262371,'user_23',5,'2020-10-13','2021-04-20');
INSERT INTO THINGRANK VALUES ('tr_61',17572409,'user_8',1,'2020-05-23','2021-12-18');
INSERT INTO THINGRANK VALUES ('tr_62',16630137,'user_9',3,'2019-07-23','2021-03-18');
INSERT INTO THINGRANK VALUES ('tr_63',17470753,'user_39',4,'2019-05-23','2021-04-09');
INSERT INTO THINGRANK VALUES ('tr_64',12074539,'user_34',1,'2019-04-08','2021-04-09');
INSERT INTO THINGRANK VALUES ('tr_65',26390340,'user_48',1,'2019-09-20','2022-12-05');
INSERT INTO THINGRANK VALUES ('tr_66',17063413,'user_38',4,'2019-04-23','2021-12-08');
INSERT INTO THINGRANK VALUES ('tr_67',18013943,'user_2',2,'2019-07-10','2022-10-16');
INSERT INTO THINGRANK VALUES ('tr_68',17262371,'user_14',2,'2019-12-11','2021-07-09');
INSERT INTO THINGRANK VALUES ('tr_69',18223652,'user_16',1,'2019-07-26','2021-06-19');
INSERT INTO THINGRANK VALUES ('tr_70',17720028,'user_39',5,'2020-03-21','2021-04-24');
INSERT INTO THINGRANK VALUES ('tr_71',12074539,'user_8',2,'2019-10-15','2021-01-18');
INSERT INTO THINGRANK VALUES ('tr_72',23382779,'user_1',2,'2020-02-20','2021-12-23');
INSERT INTO THINGRANK VALUES ('tr_73',25592608,'user_29',2,'2020-09-13','2022-01-16');
INSERT INTO THINGRANK VALUES ('tr_74',17572409,'user_11',1,'2019-11-07','2021-11-05');
INSERT INTO THINGRANK VALUES ('tr_75',17063413,'user_10',3,'2019-08-11','2022-12-09');
INSERT INTO THINGRANK VALUES ('tr_76',26303950,'user_27',3,'2019-05-22','2022-03-10');
INSERT INTO THINGRANK VALUES ('tr_77',25290079,'user_40',2,'2019-07-25','2022-05-05');
INSERT INTO THINGRANK VALUES ('tr_78',26248029,'user_35',4,'2019-09-06','2021-01-15');
INSERT INTO THINGRANK VALUES ('tr_79',16947896,'user_39',6,'2020-11-03','2021-07-07');
INSERT INTO THINGRANK VALUES ('tr_80',23382779,'user_50',3,'2020-05-04','2021-02-04');
INSERT INTO THINGRANK VALUES ('tr_81',18070554,'user_12',1,'2019-03-14','2021-05-05');
INSERT INTO THINGRANK VALUES ('tr_82',26070557,'user_1',3,'2020-01-27','2022-06-01');
INSERT INTO THINGRANK VALUES ('tr_83',15955832,'user_5',3,'2020-02-13','2022-04-22');
INSERT INTO THINGRANK VALUES ('tr_84',26070557,'user_4',2,'2020-08-09','2022-06-04');
INSERT INTO THINGRANK VALUES ('tr_85',15955832,'user_50',4,'2019-12-10','2022-12-08');
INSERT INTO THINGRANK VALUES ('tr_86',23317507,'user_50',5,'2020-04-05','2021-02-22');
INSERT INTO THINGRANK VALUES ('tr_87',16060477,'user_41',1,'2020-01-14','2021-08-03');
INSERT INTO THINGRANK VALUES ('tr_88',17856847,'user_36',1,'2019-06-10','2021-12-07');
INSERT INTO THINGRANK VALUES ('tr_89',26303950,'user_28',3,'2020-03-11','2021-06-02');
INSERT INTO THINGRANK VALUES ('tr_90',25592608,'user_50',6,'2020-08-04','2021-09-10');
INSERT INTO THINGRANK VALUES ('tr_91',16630137,'user_3',5,'2020-11-09','2021-09-06');
INSERT INTO THINGRANK VALUES ('tr_92',17050121,'user_15',2,'2020-03-25','2022-05-12');
INSERT INTO THINGRANK VALUES ('tr_93',16410914,'user_42',2,'2020-03-09','2022-02-14');
INSERT INTO THINGRANK VALUES ('tr_94',23382779,'user_14',3,'2020-12-18','2022-08-01');
INSERT INTO THINGRANK VALUES ('tr_95',12074539,'user_37',1,'2019-05-09','2022-04-08');
INSERT INTO THINGRANK VALUES ('tr_96',25458448,'user_28',4,'2019-11-25','2022-06-06');
INSERT INTO THINGRANK VALUES ('tr_97',18013943,'user_3',6,'2020-01-05','2022-11-17');
INSERT INTO THINGRANK VALUES ('tr_98',16410914,'user_39',7,'2019-03-23','2021-03-15');
INSERT INTO THINGRANK VALUES ('tr_99',26248029,'user_34',2,'2020-12-22','2021-05-04');
INSERT INTO THINGRANK VALUES ('tr_100',16679243,'user_4',3,'2020-05-07','2022-12-22');
INSERT INTO THINGRANK VALUES ('tr_101',18120193,'user_44',3,'2020-02-12','2021-09-26');
INSERT INTO THINGRANK VALUES ('tr_102',17856847,'user_49',2,'2019-03-21','2021-06-25');
INSERT INTO THINGRANK VALUES ('tr_103',16679243,'user_7',1,'2020-11-02','2021-08-27');
INSERT INTO THINGRANK VALUES ('tr_104',19913970,'user_33',1,'2020-04-26','2021-06-18');
INSERT INTO THINGRANK VALUES ('tr_105',18120193,'user_20',3,'2019-12-28','2022-02-25');
INSERT INTO THINGRANK VALUES ('tr_106',26070557,'user_19',2,'2020-08-27','2021-09-18');
INSERT INTO THINGRANK VALUES ('tr_107',16410914,'user_2',3,'2020-11-25','2022-10-13');
INSERT INTO THINGRANK VALUES ('tr_108',17063413,'user_27',4,'2019-09-08','2021-08-19');
INSERT INTO THINGRANK VALUES ('tr_109',17050121,'user_37',2,'2020-05-17','2021-01-02');
INSERT INTO THINGRANK VALUES ('tr_110',16679243,'user_5',4,'2019-03-22','2022-04-19');
INSERT INTO THINGRANK VALUES ('tr_111',17572409,'user_44',4,'2019-06-26','2021-06-19');
INSERT INTO THINGRANK VALUES ('tr_112',18013943,'user_37',3,'2020-12-03','2022-11-18');
INSERT INTO THINGRANK VALUES ('tr_113',19994629,'user_35',5,'2019-08-15','2021-07-01');
INSERT INTO THINGRANK VALUES ('tr_114',17470753,'user_27',5,'2019-08-14','2021-06-02');
INSERT INTO THINGRANK VALUES ('tr_115',18118531,'user_8',3,'2020-06-28','2022-02-25');
INSERT INTO THINGRANK VALUES ('tr_116',25709407,'user_38',5,'2020-10-14','2021-12-07');
INSERT INTO THINGRANK VALUES ('tr_117',25290079,'user_10',4,'2019-07-28','2021-04-04');
INSERT INTO THINGRANK VALUES ('tr_118',12518380,'user_33',2,'2019-12-28','2021-03-04');
INSERT INTO THINGRANK VALUES ('tr_119',16726942,'user_11',2,'2020-06-15','2021-03-09');
INSERT INTO THINGRANK VALUES ('tr_120',25458448,'user_47',1,'2020-11-18','2021-11-16');
INSERT INTO THINGRANK VALUES ('tr_121',18042774,'user_21',3,'2020-12-09','2021-11-13');
INSERT INTO THINGRANK VALUES ('tr_122',18223652,'user_25',1,'2020-09-19','2022-08-15');
INSERT INTO THINGRANK VALUES ('tr_123',25592608,'user_26',1,'2020-09-03','2021-12-02');
INSERT INTO THINGRANK VALUES ('tr_124',16731142,'user_21',4,'2019-04-28','2022-09-06');
INSERT INTO THINGRANK VALUES ('tr_125',16731142,'user_45',2,'2020-08-05','2022-11-24');
INSERT INTO THINGRANK VALUES ('tr_126',17572409,'user_38',6,'2020-09-25','2022-07-13');
INSERT INTO THINGRANK VALUES ('tr_127',16731142,'user_10',5,'2020-05-03','2022-04-16');
INSERT INTO THINGRANK VALUES ('tr_128',25290079,'user_11',3,'2019-03-05','2021-11-15');
INSERT INTO THINGRANK VALUES ('tr_129',16410914,'user_26',2,'2020-01-19','2021-02-16');
INSERT INTO THINGRANK VALUES ('tr_130',12518380,'user_37',4,'2020-05-09','2021-01-10');
INSERT INTO THINGRANK VALUES ('tr_131',18095238,'user_1',4,'2020-09-09','2022-08-28');
INSERT INTO THINGRANK VALUES ('tr_132',25458448,'user_48',2,'2019-07-19','2021-03-18');
INSERT INTO THINGRANK VALUES ('tr_133',26303950,'user_10',6,'2020-01-13','2022-06-24');
INSERT INTO THINGRANK VALUES ('tr_134',17572409,'user_33',3,'2019-07-07','2021-01-06');
INSERT INTO THINGRANK VALUES ('tr_135',18223652,'user_39',8,'2020-12-07','2022-09-23');
INSERT INTO THINGRANK VALUES ('tr_136',20546259,'user_27',6,'2019-06-08','2022-12-28');
INSERT INTO THINGRANK VALUES ('tr_137',17126506,'user_17',1,'2019-08-19','2022-05-14');
INSERT INTO THINGRANK VALUES ('tr_138',16718508,'user_22',3,'2020-03-08','2022-12-07');
INSERT INTO THINGRANK VALUES ('tr_139',12661454,'user_35',6,'2019-09-26','2022-04-04');
INSERT INTO THINGRANK VALUES ('tr_140',18223652,'user_43',4,'2019-11-11','2022-04-07');
INSERT INTO THINGRANK VALUES ('tr_141',18013943,'user_5',5,'2020-12-14','2022-08-12');
INSERT INTO THINGRANK VALUES ('tr_142',23266088,'user_13',3,'2019-11-05','2021-07-24');
INSERT INTO THINGRANK VALUES ('tr_143',16679243,'user_8',4,'2020-02-24','2022-10-09');
INSERT INTO THINGRANK VALUES ('tr_144',18390076,'user_21',5,'2019-01-12','2022-05-02');
INSERT INTO THINGRANK VALUES ('tr_145',18013943,'user_4',4,'2020-05-19','2022-11-02');
INSERT INTO THINGRANK VALUES ('tr_146',17050121,'user_11',4,'2019-08-26','2021-12-04');
INSERT INTO THINGRANK VALUES ('tr_147',16410914,'user_8',5,'2020-02-14','2022-01-18');
INSERT INTO THINGRANK VALUES ('tr_148',16410914,'user_4',5,'2020-04-11','2021-09-18');
INSERT INTO THINGRANK VALUES ('tr_149',12518380,'user_50',7,'2020-09-06','2022-09-27');
INSERT INTO THINGRANK VALUES ('tr_150',18070554,'user_36',2,'2019-02-12','2021-09-22');
INSERT INTO THINGRANK VALUES ('tr_151',18118531,'user_38',7,'2019-10-28','2022-08-19');
INSERT INTO THINGRANK VALUES ('tr_152',18120193,'user_41',2,'2019-10-10','2022-12-21');
INSERT INTO THINGRANK VALUES ('tr_153',16947896,'user_33',4,'2020-11-12','2022-06-04');
INSERT INTO THINGRANK VALUES ('tr_154',18223652,'user_11',5,'2019-01-21','2022-08-15');
INSERT INTO THINGRANK VALUES ('tr_155',19994629,'user_4',6,'2019-03-24','2022-06-10');
INSERT INTO THINGRANK VALUES ('tr_156',25292488,'user_39',9,'2020-12-04','2021-12-13');
INSERT INTO THINGRANK VALUES ('tr_157',26248029,'user_10',7,'2019-12-14','2021-08-05');
INSERT INTO THINGRANK VALUES ('tr_158',25592608,'user_20',4,'2020-07-09','2021-11-27');
INSERT INTO THINGRANK VALUES ('tr_159',26303950,'user_26',3,'2019-04-13','2021-05-06');
INSERT INTO THINGRANK VALUES ('tr_160',17572409,'user_2',4,'2020-10-23','2022-03-01');
INSERT INTO THINGRANK VALUES ('tr_161',19913970,'user_14',4,'2020-04-06','2021-02-06');
INSERT INTO THINGRANK VALUES ('tr_162',19914111,'user_20',5,'2020-07-18','2021-12-24');
INSERT INTO THINGRANK VALUES ('tr_163',16630137,'user_32',2,'2019-07-02','2021-10-22');
INSERT INTO THINGRANK VALUES ('tr_164',16642883,'user_39',10,'2020-01-06','2021-08-20');
INSERT INTO THINGRANK VALUES ('tr_165',18095238,'user_20',6,'2020-05-07','2022-03-23');
INSERT INTO THINGRANK VALUES ('tr_166',25458448,'user_32',3,'2020-02-06','2022-11-07');
INSERT INTO THINGRANK VALUES ('tr_167',16679243,'user_41',3,'2019-04-28','2022-12-06');
INSERT INTO THINGRANK VALUES ('tr_168',17163701,'user_47',2,'2020-08-04','2021-07-17');
INSERT INTO THINGRANK VALUES ('tr_169',23382779,'user_4',7,'2019-02-22','2022-05-05');
INSERT INTO THINGRANK VALUES ('tr_170',17050121,'user_8',6,'2020-02-25','2021-03-27');
INSERT INTO THINGRANK VALUES ('tr_171',26070557,'user_27',7,'2019-05-17','2021-04-26');
INSERT INTO THINGRANK VALUES ('tr_172',18070554,'user_43',5,'2020-03-26','2021-11-08');
INSERT INTO THINGRANK VALUES ('tr_173',26303950,'user_49',3,'2020-09-21','2021-09-10');
INSERT INTO THINGRANK VALUES ('tr_174',16726942,'user_4',8,'2019-08-26','2022-06-21');
INSERT INTO THINGRANK VALUES ('tr_175',18223652,'user_17',2,'2019-03-23','2021-08-23');
INSERT INTO THINGRANK VALUES ('tr_176',16947896,'user_15',3,'2020-07-26','2022-02-08');
INSERT INTO THINGRANK VALUES ('tr_177',19913970,'user_3',7,'2019-08-06','2021-06-06');
INSERT INTO THINGRANK VALUES ('tr_178',23382779,'user_15',4,'2019-07-16','2021-07-17');
INSERT INTO THINGRANK VALUES ('tr_179',16947896,'user_6',1,'2020-02-18','2021-01-28');
INSERT INTO THINGRANK VALUES ('tr_180',17163701,'user_22',4,'2020-12-12','2021-04-16');
INSERT INTO THINGRANK VALUES ('tr_181',18013943,'user_12',2,'2019-05-04','2022-08-04');
INSERT INTO THINGRANK VALUES ('tr_182',18390076,'user_15',5,'2019-11-07','2021-04-11');
INSERT INTO THINGRANK VALUES ('tr_183',15955832,'user_10',8,'2020-06-19','2021-12-13');
INSERT INTO THINGRANK VALUES ('tr_184',25592608,'user_7',2,'2020-11-01','2022-03-08');
INSERT INTO THINGRANK VALUES ('tr_185',16410914,'user_30',2,'2019-11-23','2021-10-11');
INSERT INTO THINGRANK VALUES ('tr_186',18120193,'user_6',2,'2020-01-14','2021-01-13');
INSERT INTO THINGRANK VALUES ('tr_187',26070557,'user_12',3,'2020-06-14','2021-12-28');
INSERT INTO THINGRANK VALUES ('tr_188',17262371,'user_43',6,'2019-08-14','2021-08-02');
INSERT INTO THINGRANK VALUES ('tr_189',19914111,'user_15',6,'2019-02-20','2022-04-28');
INSERT INTO THINGRANK VALUES ('tr_190',26303950,'user_3',8,'2020-02-06','2022-07-26');
INSERT INTO THINGRANK VALUES ('tr_191',23178356,'user_44',5,'2020-01-22','2021-03-03');
INSERT INTO THINGRANK VALUES ('tr_192',26303950,'user_47',3,'2019-04-11','2022-01-17');
INSERT INTO THINGRANK VALUES ('tr_193',26303950,'user_17',3,'2020-07-02','2022-03-10');
INSERT INTO THINGRANK VALUES ('tr_194',16679243,'user_3',9,'2019-02-22','2022-09-03');
INSERT INTO THINGRANK VALUES ('tr_195',23178356,'user_4',9,'2019-04-09','2022-05-16');
INSERT INTO THINGRANK VALUES ('tr_196',25592608,'user_43',7,'2020-12-18','2021-03-15');
INSERT INTO THINGRANK VALUES ('tr_197',17572409,'user_12',4,'2020-05-04','2021-04-04');
INSERT INTO THINGRANK VALUES ('tr_198',18120193,'user_42',3,'2020-02-13','2022-03-09');
INSERT INTO THINGRANK VALUES ('tr_199',18095238,'user_40',3,'2020-08-22','2022-09-11');
INSERT INTO THINGRANK VALUES ('tr_200',23317507,'user_29',3,'2020-03-17','2022-02-08');
INSERT INTO THINGRANK VALUES ('tr_201',18042774,'user_36',3,'2019-12-08','2022-04-16');
INSERT INTO THINGRANK VALUES ('tr_202',23382779,'user_10',9,'2020-03-16','2022-02-22');
INSERT INTO THINGRANK VALUES ('tr_203',18013943,'user_43',8,'2019-09-10','2022-01-05');
INSERT INTO THINGRANK VALUES ('tr_204',17126506,'user_47',4,'2019-10-07','2022-08-22');
INSERT INTO THINGRANK VALUES ('tr_205',19994629,'user_49',4,'2019-03-20','2022-11-18');
INSERT INTO THINGRANK VALUES ('tr_206',16060477,'user_13',4,'2020-07-01','2022-02-11');
INSERT INTO THINGRANK VALUES ('tr_207',19994629,'user_34',3,'2020-01-04','2021-08-08');
INSERT INTO THINGRANK VALUES ('tr_208',16731142,'user_34',4,'2019-04-13','2022-02-07');
INSERT INTO THINGRANK VALUES ('tr_209',18013943,'user_19',3,'2020-09-03','2022-01-22');
INSERT INTO THINGRANK VALUES ('tr_210',17470753,'user_18',2,'2020-09-25','2022-08-02');
INSERT INTO THINGRANK VALUES ('tr_211',18095238,'user_13',5,'2019-01-07','2022-03-19');
INSERT INTO THINGRANK VALUES ('tr_212',16947896,'user_11',6,'2019-04-22','2021-04-16');
INSERT INTO THINGRANK VALUES ('tr_213',18223652,'user_48',3,'2019-08-26','2021-08-04');
INSERT INTO THINGRANK VALUES ('tr_214',26303950,'user_30',3,'2020-03-27','2021-03-10');
INSERT INTO THINGRANK VALUES ('tr_215',17163701,'user_2',5,'2019-12-19','2021-03-17');
INSERT INTO THINGRANK VALUES ('tr_216',26303950,'user_45',3,'2019-08-16','2021-01-07');
INSERT INTO THINGRANK VALUES ('tr_217',25458448,'user_50',8,'2020-02-04','2022-01-03');
INSERT INTO THINGRANK VALUES ('tr_218',17126506,'user_41',4,'2020-04-28','2022-02-16');
INSERT INTO THINGRANK VALUES ('tr_219',16642883,'user_37',5,'2019-08-14','2021-02-05');
INSERT INTO THINGRANK VALUES ('tr_220',18042774,'user_50',9,'2020-04-13','2021-09-23');
INSERT INTO THINGRANK VALUES ('tr_221',17720028,'user_41',5,'2020-02-02','2021-10-28');
INSERT INTO THINGRANK VALUES ('tr_222',25709407,'user_22',5,'2019-08-05','2022-07-02');
INSERT INTO THINGRANK VALUES ('tr_223',23178356,'user_15',7,'2020-01-01','2022-03-02');
INSERT INTO THINGRANK VALUES ('tr_224',18013943,'user_34',5,'2019-11-21','2021-01-08');
INSERT INTO THINGRANK VALUES ('tr_225',19913970,'user_41',6,'2020-12-02','2021-05-16');
INSERT INTO THINGRANK VALUES ('tr_226',25592608,'user_37',6,'2020-04-06','2022-08-03');
INSERT INTO THINGRANK VALUES ('tr_227',17126506,'user_16',2,'2019-03-26','2021-06-15');
INSERT INTO THINGRANK VALUES ('tr_228',20546259,'user_37',7,'2019-08-28','2021-07-18');
INSERT INTO THINGRANK VALUES ('tr_229',16060477,'user_1',5,'2020-03-02','2021-09-26');

In [18]:
connection.commit()