In [1]:
import random
import cx_Oracle
import pandas as pd
import datetime

In [2]:
cx_Oracle.init_oracle_client(lib_dir=r"C:\OracleDBproject\instantclient_21_7")  # 여기서 각자 라이브러리 위치 설정해줘야함
connection = cx_Oracle.connect(user='admin', password='Semorang1234', dsn='semodb_high')
# 본인이 접속할 오라클 클라우드 DB 사용자이름, 비밀번호, dsn을 넣어준다.
print(connection)

<cx_Oracle.Connection to admin@semodb_high>

In [3]:
# INSERT 출력을 위한 OUTPUT_LIST
output_list =[]

In [4]:
def execute_sql(query):
    cursor = connection.cursor()
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    # return len(rows)

In [5]:
execute_sql("select * from RANKING_SNAPSHOT")

('snap_1', 'user_16', '게시글 내용입니다38', datetime.datetime(2019, 4, 27, 0, 0), datetime.datetime(2021, 12, 18, 0, 0), 283, 43)
('snap_2', 'user_34', '게시글 내용입니다21', datetime.datetime(2019, 4, 23, 0, 0), datetime.datetime(2022, 8, 23, 0, 0), 133, 849)
('snap_3', 'user_10', '게시글 내용입니다5', datetime.datetime(2019, 4, 26, 0, 0), datetime.datetime(2022, 10, 8, 0, 0), 122, 831)
('snap_4', 'user_15', '게시글 내용입니다0', datetime.datetime(2020, 1, 24, 0, 0), datetime.datetime(2022, 8, 8, 0, 0), 382, 252)
('snap_5', 'user_47', '게시글 내용입니다35', datetime.datetime(2019, 6, 26, 0, 0), datetime.datetime(2022, 11, 13, 0, 0), 171, 368)
('snap_6', 'user_9', '게시글 내용입니다25', datetime.datetime(2020, 11, 20, 0, 0), datetime.datetime(2021, 3, 21, 0, 0), 937, 370)
('snap_7', 'user_31', '게시글 내용입니다5', datetime.datetime(2019, 5, 16, 0, 0), datetime.datetime(2021, 6, 20, 0, 0), 565, 563)
('snap_8', 'user_5', '게시글 내용입니다2', datetime.datetime(2020, 9, 28, 0, 0), datetime.datetime(2021, 11, 17, 0, 0), 539, 477)
('snap_9', 'user_31', '게시글 내용입니다36', datetime.datetime(2020, 1, 1, 0, 0), datetime.datetime(2022, 11, 15, 0, 0), 776, 571)
('snap_10', 'user_14', '게시글 내용입니다35', datetime.datetime(2019, 12, 27, 0, 0), datetime.datetime(2021, 7, 19, 0, 0), 367, 482)
('snap_11', 'user_1', '게시글 내용입니다9', datetime.datetime(2019, 8, 7, 0, 0), datetime.datetime(2021, 11, 2, 0, 0), 773, 31)
('snap_12', 'user_20', '게시글 내용입니다22', datetime.datetime(2020, 3, 2, 0, 0), datetime.datetime(2022, 11, 27, 0, 0), 949, 323)
('snap_13', 'user_46', '게시글 내용입니다30', datetime.datetime(2019, 9, 22, 0, 0), datetime.datetime(2021, 9, 23, 0, 0), 173, 627)
('snap_14', 'user_34', '게시글 내용입니다28', datetime.datetime(2019, 1, 14, 0, 0), datetime.datetime(2021, 9, 11, 0, 0), 547, 738)
('snap_15', 'user_40', '게시글 내용입니다22', datetime.datetime(2020, 4, 12, 0, 0), datetime.datetime(2022, 11, 1, 0, 0), 102, 297)
('snap_16', 'user_5', '게시글 내용입니다21', datetime.datetime(2019, 9, 3, 0, 0), datetime.datetime(2021, 12, 3, 0, 0), 444, 137)
('snap_17', 'user_1', '게시글 내용입니다19', datetime.datetime(2019, 6, 15, 0, 0), datetime.datetime(2022, 6, 7, 0, 0), 513, 109)
('snap_18', 'user_29', '게시글 내용입니다20', datetime.datetime(2020, 5, 28, 0, 0), datetime.datetime(2021, 3, 17, 0, 0), 293, 827)
('snap_19', 'user_48', '게시글 내용입니다23', datetime.datetime(2020, 3, 15, 0, 0), datetime.datetime(2021, 6, 5, 0, 0), 766, 359)
('snap_20', 'user_31', '게시글 내용입니다1', datetime.datetime(2020, 3, 15, 0, 0), datetime.datetime(2021, 6, 19, 0, 0), 985, 928)
('snap_21', 'user_43', '게시글 내용입니다16', datetime.datetime(2019, 2, 18, 0, 0), datetime.datetime(2022, 7, 16, 0, 0), 350, 250)
('snap_22', 'user_12', '게시글 내용입니다15', datetime.datetime(2020, 10, 23, 0, 0), datetime.datetime(2021, 4, 3, 0, 0), 541, 983)
('snap_23', 'user_37', '게시글 내용입니다29', datetime.datetime(2020, 4, 26, 0, 0), datetime.datetime(2022, 12, 16, 0, 0), 284, 534)
('snap_24', 'user_10', '게시글 내용입니다29', datetime.datetime(2019, 6, 26, 0, 0), datetime.datetime(2022, 3, 13, 0, 0), 980, 568)
('snap_25', 'user_10', '게시글 내용입니다48', datetime.datetime(2019, 2, 28, 0, 0), datetime.datetime(2021, 5, 18, 0, 0), 808, 978)
('snap_26', 'user_42', '게시글 내용입니다10', datetime.datetime(2020, 4, 10, 0, 0), datetime.datetime(2021, 9, 2, 0, 0), 231, 762)
('snap_27', 'user_9', '게시글 내용입니다26', datetime.datetime(2020, 1, 9, 0, 0), datetime.datetime(2022, 2, 1, 0, 0), 967, 365)
('snap_28', 'user_2', '게시글 내용입니다22', datetime.datetime(2019, 3, 3, 0, 0), datetime.datetime(2022, 7, 9, 0, 0), 874, 103)
('snap_29', 'user_25', '게시글 내용입니다32', datetime.datetime(2019, 9, 7, 0, 0), datetime.datetime(2022, 1, 9, 0, 0), 904, 424)
('snap_30', 'user_13', '게시글 내용입니다49', datetime.datetime(2020, 9, 19, 0, 0), datetime.datetime(2022, 11, 13, 0, 0), 755, 654)
('snap_31', 'user_28', '게시글 내용입니다16', datetime.datetime(2019, 10, 23, 0, 0), datetime.datetime(2022, 8, 26, 0, 0), 520, 518)
('snap_32', 'user_41', '게시글 내용입니다11', datetime.datetime(2019, 9, 4, 0, 0), datetime.datetime(2021, 8, 10, 0, 0), 573, 518)
('snap_33', 'user_3', '게시글 내용입니다6', datetime.datetime(2019, 4, 22, 0, 0), datetime.datetime(2022, 12, 17, 0, 0), 472, 389)
('snap_34', 'user_18', '게시글 내용입니다0', datetime.datetime(2019, 7, 21, 0, 0), datetime.datetime(2022, 10, 15, 0, 0), 656, 230)
('snap_35', 'user_40', '게시글 내용입니다37', datetime.datetime(2019, 5, 7, 0, 0), datetime.datetime(2021, 8, 5, 0, 0), 988, 592)
('snap_36', 'user_50', '게시글 내용입니다16', datetime.datetime(2019, 12, 9, 0, 0), datetime.datetime(2022, 2, 20, 0, 0), 975, 750)
('snap_37', 'user_35', '게시글 내용입니다32', datetime.datetime(2020, 12, 7, 0, 0), datetime.datetime(2021, 11, 8, 0, 0), 727, 413)
('snap_38', 'user_19', '게시글 내용입니다26', datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2021, 9, 5, 0, 0), 71, 165)
('snap_39', 'user_50', '게시글 내용입니다10', datetime.datetime(2019, 7, 15, 0, 0), datetime.datetime(2022, 7, 22, 0, 0), 971, 609)
('snap_40', 'user_1', '게시글 내용입니다36', datetime.datetime(2019, 9, 5, 0, 0), datetime.datetime(2021, 1, 21, 0, 0), 314, 756)
('snap_41', 'user_21', '게시글 내용입니다45', datetime.datetime(2019, 1, 15, 0, 0), datetime.datetime(2021, 5, 25, 0, 0), 188, 614)
('snap_42', 'user_17', '게시글 내용입니다3', datetime.datetime(2019, 4, 18, 0, 0), datetime.datetime(2021, 9, 14, 0, 0), 911, 600)
('snap_43', 'user_35', '게시글 내용입니다35', datetime.datetime(2020, 1, 10, 0, 0), datetime.datetime(2021, 7, 12, 0, 0), 313, 784)
('snap_44', 'user_36', '게시글 내용입니다34', datetime.datetime(2020, 11, 10, 0, 0), datetime.datetime(2022, 12, 15, 0, 0), 717, 870)
('snap_45', 'user_17', '게시글 내용입니다18', datetime.datetime(2019, 1, 22, 0, 0), datetime.datetime(2021, 4, 21, 0, 0), 272, 855)
('snap_46', 'user_42', '게시글 내용입니다14', datetime.datetime(2019, 8, 27, 0, 0), datetime.datetime(2022, 12, 14, 0, 0), 268, 59)
('snap_47', 'user_12', '게시글 내용입니다8', datetime.datetime(2019, 3, 15, 0, 0), datetime.datetime(2022, 7, 3, 0, 0), 914, 946)
('snap_48', 'user_43', '게시글 내용입니다45', datetime.datetime(2020, 1, 20, 0, 0), datetime.datetime(2022, 2, 6, 0, 0), 369, 392)
('snap_49', 'user_30', '게시글 내용입니다41', datetime.datetime(2020, 11, 19, 0, 0), datetime.datetime(2022, 2, 7, 0, 0), 266, 1)
('snap_50', 'user_15', '게시글 내용입니다49', datetime.datetime(2020, 7, 14, 0, 0), datetime.datetime(2021, 7, 15, 0, 0), 552, 51)
('snap_51', 'user_14', '게시글 내용입니다37', datetime.datetime(2020, 4, 25, 0, 0), datetime.datetime(2022, 3, 28, 0, 0), 262, 675)
('snap_52', 'user_50', '게시글 내용입니다20', datetime.datetime(2019, 5, 7, 0, 0), datetime.datetime(2022, 7, 24, 0, 0), 175, 856)
('snap_53', 'user_2', '게시글 내용입니다46', datetime.datetime(2019, 8, 24, 0, 0), datetime.datetime(2021, 3, 11, 0, 0), 651, 990)
('snap_54', 'user_5', '게시글 내용입니다28', datetime.datetime(2019, 1, 21, 0, 0), datetime.datetime(2022, 5, 6, 0, 0), 784, 775)
('snap_55', 'user_8', '게시글 내용입니다10', datetime.datetime(2020, 2, 5, 0, 0), datetime.datetime(2022, 5, 18, 0, 0), 631, 119)
('snap_56', 'user_33', '게시글 내용입니다29', datetime.datetime(2019, 5, 8, 0, 0), datetime.datetime(2021, 8, 27, 0, 0), 920, 2)
('snap_57', 'user_4', '게시글 내용입니다49', datetime.datetime(2019, 9, 26, 0, 0), datetime.datetime(2022, 1, 16, 0, 0), 5, 561)
('snap_58', 'user_28', '게시글 내용입니다20', datetime.datetime(2020, 6, 23, 0, 0), datetime.datetime(2022, 9, 19, 0, 0), 93, 863)
('snap_59', 'user_1', '게시글 내용입니다40', datetime.datetime(2019, 8, 11, 0, 0), datetime.datetime(2021, 9, 15, 0, 0), 311, 449)
('snap_60', 'user_25', '게시글 내용입니다28', datetime.datetime(2019, 11, 9, 0, 0), datetime.datetime(2021, 3, 15, 0, 0), 404, 228)
('snap_61', 'user_30', '게시글 내용입니다5', datetime.datetime(2019, 5, 2, 0, 0), datetime.datetime(2022, 7, 14, 0, 0), 748, 152)
('snap_62', 'user_22', '게시글 내용입니다23', datetime.datetime(2020, 10, 12, 0, 0), datetime.datetime(2021, 5, 10, 0, 0), 580, 921)
('snap_63', 'user_33', '게시글 내용입니다36', datetime.datetime(2019, 11, 24, 0, 0), datetime.datetime(2022, 5, 26, 0, 0), 602, 294)
('snap_64', 'user_48', '게시글 내용입니다1', datetime.datetime(2019, 1, 12, 0, 0), datetime.datetime(2021, 5, 19, 0, 0), 439, 720)
('snap_65', 'user_26', '게시글 내용입니다4', datetime.datetime(2020, 6, 16, 0, 0), datetime.datetime(2022, 5, 20, 0, 0), 28, 595)
('snap_66', 'user_16', '게시글 내용입니다26', datetime.datetime(2020, 4, 15, 0, 0), datetime.datetime(2022, 9, 1, 0, 0), 903, 483)
('snap_67', 'user_15', '게시글 내용입니다11', datetime.datetime(2019, 6, 17, 0, 0), datetime.datetime(2021, 5, 8, 0, 0), 648, 927)
('snap_68', 'user_44', '게시글 내용입니다23', datetime.datetime(2020, 8, 8, 0, 0), datetime.datetime(2021, 8, 20, 0, 0), 642, 563)
('snap_69', 'user_12', '게시글 내용입니다4', datetime.datetime(2019, 8, 21, 0, 0), datetime.datetime(2021, 10, 6, 0, 0), 579, 196)
('snap_70', 'user_11', '게시글 내용입니다31', datetime.datetime(2020, 4, 3, 0, 0), datetime.datetime(2021, 10, 10, 0, 0), 554, 677)
('snap_71', 'user_3', '게시글 내용입니다27', datetime.datetime(2019, 12, 6, 0, 0), datetime.datetime(2021, 1, 17, 0, 0), 207, 812)
('snap_72', 'user_43', '게시글 내용입니다7', datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2022, 11, 25, 0, 0), 63, 546)
('snap_73', 'user_33', '게시글 내용입니다15', datetime.datetime(2020, 11, 8, 0, 0), datetime.datetime(2022, 6, 4, 0, 0), 136, 859)
('snap_74', 'user_9', '게시글 내용입니다47', datetime.datetime(2020, 1, 1, 0, 0), datetime.datetime(2021, 1, 27, 0, 0), 196, 748)
('snap_75', 'user_20', '게시글 내용입니다27', datetime.datetime(2019, 7, 3, 0, 0), datetime.datetime(2021, 10, 22, 0, 0), 205, 892)
('snap_76', 'user_19', '게시글 내용입니다39', datetime.datetime(2020, 2, 3, 0, 0), datetime.datetime(2022, 9, 24, 0, 0), 256, 94)
('snap_77', 'user_13', '게시글 내용입니다9', datetime.datetime(2020, 7, 13, 0, 0), datetime.datetime(2022, 10, 1, 0, 0), 821, 266)
('snap_78', 'user_14', '게시글 내용입니다25', datetime.datetime(2020, 9, 13, 0, 0), datetime.datetime(2021, 1, 18, 0, 0), 380, 102)
('snap_79', 'user_34', '게시글 내용입니다44', datetime.datetime(2020, 9, 19, 0, 0), datetime.datetime(2021, 7, 27, 0, 0), 514, 726)
('snap_80', 'user_34', '게시글 내용입니다17', datetime.datetime(2020, 9, 25, 0, 0), datetime.datetime(2021, 1, 6, 0, 0), 661, 650)
('snap_81', 'user_8', '게시글 내용입니다8', datetime.datetime(2019, 9, 16, 0, 0), datetime.datetime(2022, 11, 18, 0, 0), 983, 636)
('snap_82', 'user_15', '게시글 내용입니다28', datetime.datetime(2019, 11, 5, 0, 0), datetime.datetime(2022, 10, 13, 0, 0), 748, 747)
('snap_83', 'user_21', '게시글 내용입니다21', datetime.datetime(2019, 9, 4, 0, 0), datetime.datetime(2021, 8, 27, 0, 0), 539, 611)
('snap_84', 'user_31', '게시글 내용입니다26', datetime.datetime(2020, 8, 5, 0, 0), datetime.datetime(2021, 10, 24, 0, 0), 660, 182)
('snap_85', 'user_4', '게시글 내용입니다10', datetime.datetime(2020, 12, 1, 0, 0), datetime.datetime(2022, 8, 18, 0, 0), 977, 909)
('snap_86', 'user_13', '게시글 내용입니다27', datetime.datetime(2020, 10, 17, 0, 0), datetime.datetime(2021, 8, 9, 0, 0), 13, 18)
('snap_87', 'user_20', '게시글 내용입니다11', datetime.datetime(2019, 1, 16, 0, 0), datetime.datetime(2021, 7, 13, 0, 0), 954, 708)
('snap_88', 'user_40', '게시글 내용입니다47', datetime.datetime(2020, 9, 5, 0, 0), datetime.datetime(2021, 4, 18, 0, 0), 260, 610)
('snap_89', 'user_7', '게시글 내용입니다9', datetime.datetime(2019, 5, 22, 0, 0), datetime.datetime(2021, 5, 20, 0, 0), 506, 154)
('snap_90', 'user_41', '게시글 내용입니다28', datetime.datetime(2019, 9, 26, 0, 0), datetime.datetime(2022, 6, 23, 0, 0), 703, 301)
('snap_91', 'user_2', '게시글 내용입니다19', datetime.datetime(2020, 4, 15, 0, 0), datetime.datetime(2021, 8, 12, 0, 0), 665, 723)
('snap_92', 'user_24', '게시글 내용입니다25', datetime.datetime(2019, 1, 28, 0, 0), datetime.datetime(2022, 5, 21, 0, 0), 366, 392)
('snap_93', 'user_44', '게시글 내용입니다15', datetime.datetime(2020, 11, 18, 0, 0), datetime.datetime(2022, 2, 19, 0, 0), 140, 738)
('snap_94', 'user_11', '게시글 내용입니다32', datetime.datetime(2019, 6, 26, 0, 0), datetime.datetime(2021, 4, 2, 0, 0), 914, 698)
('snap_95', 'user_11', '게시글 내용입니다46', datetime.datetime(2020, 7, 20, 0, 0), datetime.datetime(2022, 1, 22, 0, 0), 663, 781)
('snap_96', 'user_27', '게시글 내용입니다41', datetime.datetime(2020, 12, 23, 0, 0), datetime.datetime(2022, 8, 4, 0, 0), 635, 69)
('snap_97', 'user_37', '게시글 내용입니다46', datetime.datetime(2020, 1, 1, 0, 0), datetime.datetime(2022, 2, 6, 0, 0), 84, 894)
('snap_98', 'user_27', '게시글 내용입니다45', datetime.datetime(2019, 8, 20, 0, 0), datetime.datetime(2022, 3, 1, 0, 0), 959, 604)
('snap_99', 'user_31', '게시글 내용입니다27', datetime.datetime(2019, 6, 21, 0, 0), datetime.datetime(2021, 3, 26, 0, 0), 388, 330)
('snap_100', 'user_16', '게시글 내용입니다39', datetime.datetime(2019, 11, 20, 0, 0), datetime.datetime(2021, 7, 3, 0, 0), 620, 418)

In [6]:
def desc(table):
    cur = connection.cursor()
    cur.execute("select * from "+table)
    print(" (name, type, display_size, internal_size, precision, scale, null_ok)")
    for column in cur.description:
        print(column)

In [7]:
desc("ranking_snapshot")

 (name, type, display_size, internal_size, precision, scale, null_ok)
('SNAPSHOT_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 11, 11, None, None, 0)
('USER_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 11, 11, None, None, 1)
('CONTENT', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 3000, 3000, None, None, 0)
('TAKEN_DATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1)
('UPDATE_DATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1)
('LIKE_COUNT', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 10, 0, 1)
('DISLIKE_COUNT', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 10, 0, 1)

In [8]:
## 게시물 내용 만들기
lyric = """어쩐지 오늘 알람이 안 울려
아무거나 막 입었고 지각이야
아래로 몸을 낮추고 숨을 꾹 참아봤지만
아이쿠 들켰나 봐
내 맘이 방심할 때마다 불쑥 나타난 뒤
헤엄치듯 멀어지는 너
또 물보라를 일으켜
Da-da-da-da, da-da-da-da-da-da
Da-da-da-da 또 물보라를 일으켜
Da-da-da-da, da-da-da-da-da-da
Da-da-da-da 또 물보라를 일으켜
이 파도 위 난 온종일
서핑을 하는 느낌 아찔한 feeling
난 솔직히 푹 빠졌지
하지만 이건 secret
또 물보라를 일으켜
갑자기 웃으며 얼굴을 불쑥 다가온 뒤
원을 갈라 하트를 그려
또 물보라를 일으켜
Da-da-da-da, da-da-da-da-da-da
Da-da-da-da 또 물보라를 일으켜
Da-da-da-da, da-da-da-da-da-da
Da-da-da-da 또 물보라를 일으켜
Da-da-da-da, da-da-da-da-da-da
Da-da-da-da 또 물보라를 일으켜
Da-da, da-da-da-da-da-da
Da-da-da-da 또 물보라를 일으켜
단팥을 넣었으면 단팥빵
크림을 넣었으면 크림빵
겨울엔 따끈따끈 호빵
아침엔 똥글똥글 모닝빵
가루 가루 밀가루 반죽은
치대고 치대면 부풀어 오르고
오랜 시간 손맛은
우리를 배신하지 않는다
빵 먹고 빵빵 뱃속이 빵빵
빵 먹고 빵빵 든든해 빵빵
딸기잼도 샐러드도
발라버려 어울려
빵 먹다 뻑뻑하면 우유를 한잔
빵 먹다 너무달아 커피를 한잔
꼭꼭 씹어 먹다보면
살살 녹아버린다
빵빵빵빵 빵 빵빵
빵빵빵빵 빵 빵빵
빵빵빵빵공공칠 빵
안녕하세요
제 이름은 빵빵빵 입니다
50줄 체워야되서 쓰는데 뭘 써야될까요
50줄 체웠나 확인해볼까요?"""
lyric = lyric.split('\n')
lyric = lyric[:50]

In [9]:

def random_snapshot_data(id,user_id):
        rank_snap_tup = []

        rank_snap_id = "snap_" + str(id)
        user = user_id
        content = "게시글 내용입니다"+str(id)

        taken_year = str(random.randint(2019,2020))
        taken_month = str(random.randint(1,12))
        taken_day = str(random.randint(1,28))
        taken_date = taken_year + '-' + taken_month + '-' + taken_day
        taken_date = datetime.datetime.strptime(taken_date, '%Y-%m-%d')

        update_year = str(random.randint(2021,2022))
        update_month = str(random.randint(1,12))
        update_day = str(random.randint(1,28))
        update_date = update_year + '-' + update_month + '-' + update_day
        update_date = datetime.datetime.strptime(update_date, '%Y-%m-%d')

        like = random.randint(0,10*100)
        dislike = random.randint(0,10*100)

        return ((rank_snap_id, user, content, taken_date, update_date, like, dislike))

In [10]:
# n 명의 유저에 대한 thingrank를 가져오고 그중에서 랜덤하게 선택해서 데이터 생성
def make_thingrank_user(n):
    # user ID 다 가져오기
    cursor = connection.cursor()
    cursor.execute("select U.USER_ID from USERS U")
    user_rows = cursor.fetchall()
    # print(len(rows))

    count = 0
    while count < n:
        # user 1명 랜덤 선택
        user = user_rows[random.randint(0,len(user_rows)-1)][0]
        cursor = connection.cursor()
        # user 1명에 대한 thing_rank 전부 가져오기        
        cursor.execute("select TR.THING_RANK_ID from USERS U ,THINGRANK TR WHERE U.USER_ID = TR.USER_ID AND U.USER_ID = :TEMP_USER_ID",TEMP_USER_ID = user)
        tr_rows = cursor.fetchall()
        # print(tr_rows)
        
        # 해당 user에 대한 thingrank가 있다면 snapshot 생성
        if(len(tr_rows)>0):
            # snapshot id 1개 생성
            id = count+1
            # RS insert문 생성
            one_rs = random_snapshot_data(id,user)
            snapshot_id = one_rs[0]
            # cursor.execute("INSERT INTO RANKING_SNAPSHOT VALUES (:1,:2,:3,:4,:5,:6,:7)", one_rs)
            print("INSERT INTO RANKING_SNAPSHOT VALUES ('{}','{}','{}','{}','{}',{},{});".format(one_rs[0],one_rs[1],one_rs[2],one_rs[3].date(),one_rs[4].date(),one_rs[5],one_rs[6]))
            # S_include_TR insert문 i개 생성
            i = random.randint(1,len(tr_rows))
            for j in range(0,i):
                # cursor.execute("INSERT INTO S_INCLUDE_TR VALUES (:SNAPSHOT_ID,:THING_RANK_ID)",SNAPSHOT_ID=snapshot_id,THING_RANK_ID=tr_rows[j][0])
                output_list.append("INSERT INTO S_INCLUDE_TR VALUES ('{}','{}');".format(snapshot_id,tr_rows[j][0]))
            count +=1
        else:
            pass

In [11]:
make_thingrank_user(100)

INSERT INTO RANKING_SNAPSHOT VALUES ('snap_1','user_12','게시글 내용입니다1','2020-04-22','2022-06-01',725,511);

NameError: name 'snapshot_id' is not defined

In [ ]:
connection.commit()

In [ ]:
for o in output_list:
    print(o)

INSERT INTO S_INCLUDE_TR VALUES ('snap_1','tr_161');
INSERT INTO S_INCLUDE_TR VALUES ('snap_1','tr_18');
INSERT INTO S_INCLUDE_TR VALUES ('snap_2','tr_177');
INSERT INTO S_INCLUDE_TR VALUES ('snap_2','tr_190');
INSERT INTO S_INCLUDE_TR VALUES ('snap_3','tr_244');
INSERT INTO S_INCLUDE_TR VALUES ('snap_3','tr_31');
INSERT INTO S_INCLUDE_TR VALUES ('snap_3','tr_45');
INSERT INTO S_INCLUDE_TR VALUES ('snap_3','tr_47');
INSERT INTO S_INCLUDE_TR VALUES ('snap_3','tr_78');
INSERT INTO S_INCLUDE_TR VALUES ('snap_3','tr_113');
INSERT INTO S_INCLUDE_TR VALUES ('snap_4','tr_216');
INSERT INTO S_INCLUDE_TR VALUES ('snap_4','tr_268');
INSERT INTO S_INCLUDE_TR VALUES ('snap_4','tr_271');
INSERT INTO S_INCLUDE_TR VALUES ('snap_4','tr_277');
INSERT INTO S_INCLUDE_TR VALUES ('snap_4','tr_281');
INSERT INTO S_INCLUDE_TR VALUES ('snap_4','tr_59');
INSERT INTO S_INCLUDE_TR VALUES ('snap_5','tr_173');
INSERT INTO S_INCLUDE_TR VALUES ('snap_5','tr_205');
INSERT INTO S_INCLUDE_TR VALUES ('snap_5','tr_266');
INSERT INTO S_INCLUDE_TR VALUES ('snap_5','tr_38');
INSERT INTO S_INCLUDE_TR VALUES ('snap_5','tr_102');
INSERT INTO S_INCLUDE_TR VALUES ('snap_6','tr_122');
INSERT INTO S_INCLUDE_TR VALUES ('snap_7','tr_179');
INSERT INTO S_INCLUDE_TR VALUES ('snap_8','tr_185');
INSERT INTO S_INCLUDE_TR VALUES ('snap_8','tr_214');
INSERT INTO S_INCLUDE_TR VALUES ('snap_8','tr_233');
INSERT INTO S_INCLUDE_TR VALUES ('snap_8','tr_297');
INSERT INTO S_INCLUDE_TR VALUES ('snap_8','tr_14');
INSERT INTO S_INCLUDE_TR VALUES ('snap_9','tr_198');
INSERT INTO S_INCLUDE_TR VALUES ('snap_9','tr_235');
INSERT INTO S_INCLUDE_TR VALUES ('snap_9','tr_248');
INSERT INTO S_INCLUDE_TR VALUES ('snap_10','tr_26');
INSERT INTO S_INCLUDE_TR VALUES ('snap_11','tr_181');
INSERT INTO S_INCLUDE_TR VALUES ('snap_11','tr_187');
INSERT INTO S_INCLUDE_TR VALUES ('snap_11','tr_197');
INSERT INTO S_INCLUDE_TR VALUES ('snap_12','tr_191');
INSERT INTO S_INCLUDE_TR VALUES ('snap_12','tr_232');
INSERT INTO S_INCLUDE_TR VALUES ('snap_13','tr_7');
INSERT INTO S_INCLUDE_TR VALUES ('snap_13','tr_27');
INSERT INTO S_INCLUDE_TR VALUES ('snap_13','tr_105');
INSERT INTO S_INCLUDE_TR VALUES ('snap_14','tr_244');
INSERT INTO S_INCLUDE_TR VALUES ('snap_14','tr_31');
INSERT INTO S_INCLUDE_TR VALUES ('snap_14','tr_45');
INSERT INTO S_INCLUDE_TR VALUES ('snap_14','tr_47');
INSERT INTO S_INCLUDE_TR VALUES ('snap_14','tr_78');
INSERT INTO S_INCLUDE_TR VALUES ('snap_14','tr_113');
INSERT INTO S_INCLUDE_TR VALUES ('snap_14','tr_139');
INSERT INTO S_INCLUDE_TR VALUES ('snap_15','tr_201');
INSERT INTO S_INCLUDE_TR VALUES ('snap_15','tr_280');
INSERT INTO S_INCLUDE_TR VALUES ('snap_15','tr_291');
INSERT INTO S_INCLUDE_TR VALUES ('snap_16','tr_172');
INSERT INTO S_INCLUDE_TR VALUES ('snap_17','tr_244');
INSERT INTO S_INCLUDE_TR VALUES ('snap_17','tr_31');
INSERT INTO S_INCLUDE_TR VALUES ('snap_17','tr_45');
INSERT INTO S_INCLUDE_TR VALUES ('snap_17','tr_47');
INSERT INTO S_INCLUDE_TR VALUES ('snap_17','tr_78');
INSERT INTO S_INCLUDE_TR VALUES ('snap_17','tr_113');
INSERT INTO S_INCLUDE_TR VALUES ('snap_17','tr_139');
INSERT INTO S_INCLUDE_TR VALUES ('snap_18','tr_284');
INSERT INTO S_INCLUDE_TR VALUES ('snap_19','tr_282');
INSERT INTO S_INCLUDE_TR VALUES ('snap_19','tr_2');
INSERT INTO S_INCLUDE_TR VALUES ('snap_19','tr_19');
INSERT INTO S_INCLUDE_TR VALUES ('snap_19','tr_37');
INSERT INTO S_INCLUDE_TR VALUES ('snap_19','tr_57');
INSERT INTO S_INCLUDE_TR VALUES ('snap_19','tr_60');
INSERT INTO S_INCLUDE_TR VALUES ('snap_20','tr_191');
INSERT INTO S_INCLUDE_TR VALUES ('snap_20','tr_232');
INSERT INTO S_INCLUDE_TR VALUES ('snap_20','tr_15');
INSERT INTO S_INCLUDE_TR VALUES ('snap_20','tr_28');
INSERT INTO S_INCLUDE_TR VALUES ('snap_21','tr_212');
INSERT INTO S_INCLUDE_TR VALUES ('snap_21','tr_296');
INSERT INTO S_INCLUDE_TR VALUES ('snap_21','tr_74');
INSERT INTO S_INCLUDE_TR VALUES ('snap_21','tr_119');
INSERT INTO S_INCLUDE_TR VALUES ('snap_22','tr_26');
INSERT INTO S_INCLUDE_TR VALUES ('snap_23','tr_210');
INSERT INTO S_INCLUDE_TR VALUES ('snap_24','tr_164');
INSERT INTO S_INCLUDE_TR VALUES ('snap_24','tr_250');
INSERT INTO S_INCLUDE_TR VALUES ('snap_24','tr_24');
INSERT INTO S_INCLUDE_TR VALUES ('snap_24','tr_33');
INSERT INTO S_INCLUDE_TR VALUES ('snap_24','tr_40');
INSERT INTO S_INCLUDE_TR VALUES ('snap_24','tr_63');
INSERT INTO S_INCLUDE_TR VALUES ('snap_25','tr_284');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_236');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_240');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_17');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_42');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_46');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_66');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_116');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_126');
INSERT INTO S_INCLUDE_TR VALUES ('snap_26','tr_151');
INSERT INTO S_INCLUDE_TR VALUES ('snap_27','tr_213');
INSERT INTO S_INCLUDE_TR VALUES ('snap_27','tr_292');
INSERT INTO S_INCLUDE_TR VALUES ('snap_27','tr_293');
INSERT INTO S_INCLUDE_TR VALUES ('snap_28','tr_180');
INSERT INTO S_INCLUDE_TR VALUES ('snap_28','tr_222');
INSERT INTO S_INCLUDE_TR VALUES ('snap_28','tr_262');
INSERT INTO S_INCLUDE_TR VALUES ('snap_28','tr_21');
INSERT INTO S_INCLUDE_TR VALUES ('snap_29','tr_264');
INSERT INTO S_INCLUDE_TR VALUES ('snap_29','tr_270');
INSERT INTO S_INCLUDE_TR VALUES ('snap_30','tr_163');
INSERT INTO S_INCLUDE_TR VALUES ('snap_30','tr_166');
INSERT INTO S_INCLUDE_TR VALUES ('snap_30','tr_295');
INSERT INTO S_INCLUDE_TR VALUES ('snap_30','tr_5');
INSERT INTO S_INCLUDE_TR VALUES ('snap_31','tr_29');
INSERT INTO S_INCLUDE_TR VALUES ('snap_31','tr_35');
INSERT INTO S_INCLUDE_TR VALUES ('snap_31','tr_121');
INSERT INTO S_INCLUDE_TR VALUES ('snap_32','tr_61');
INSERT INTO S_INCLUDE_TR VALUES ('snap_32','tr_71');
INSERT INTO S_INCLUDE_TR VALUES ('snap_32','tr_115');
INSERT INTO S_INCLUDE_TR VALUES ('snap_32','tr_143');
INSERT INTO S_INCLUDE_TR VALUES ('snap_32','tr_147');
INSERT INTO S_INCLUDE_TR VALUES ('snap_32','tr_170');
INSERT INTO S_INCLUDE_TR VALUES ('snap_32','tr_257');
INSERT INTO S_INCLUDE_TR VALUES ('snap_33','tr_258');
INSERT INTO S_INCLUDE_TR VALUES ('snap_33','tr_263');
INSERT INTO S_INCLUDE_TR VALUES ('snap_33','tr_278');
INSERT INTO S_INCLUDE_TR VALUES ('snap_33','tr_123');
INSERT INTO S_INCLUDE_TR VALUES ('snap_33','tr_129');
INSERT INTO S_INCLUDE_TR VALUES ('snap_34','tr_201');
INSERT INTO S_INCLUDE_TR VALUES ('snap_35','tr_3');
INSERT INTO S_INCLUDE_TR VALUES ('snap_35','tr_72');
INSERT INTO S_INCLUDE_TR VALUES ('snap_35','tr_82');
INSERT INTO S_INCLUDE_TR VALUES ('snap_36','tr_11');
INSERT INTO S_INCLUDE_TR VALUES ('snap_36','tr_93');
INSERT INTO S_INCLUDE_TR VALUES ('snap_36','tr_198');
INSERT INTO S_INCLUDE_TR VALUES ('snap_36','tr_235');
INSERT INTO S_INCLUDE_TR VALUES ('snap_36','tr_248');
INSERT INTO S_INCLUDE_TR VALUES ('snap_37','tr_87');
INSERT INTO S_INCLUDE_TR VALUES ('snap_37','tr_152');
INSERT INTO S_INCLUDE_TR VALUES ('snap_38','tr_183');
INSERT INTO S_INCLUDE_TR VALUES ('snap_39','tr_8');
INSERT INTO S_INCLUDE_TR VALUES ('snap_40','tr_74');
INSERT INTO S_INCLUDE_TR VALUES ('snap_41','tr_169');
INSERT INTO S_INCLUDE_TR VALUES ('snap_41','tr_174');
INSERT INTO S_INCLUDE_TR VALUES ('snap_42','tr_284');
INSERT INTO S_INCLUDE_TR VALUES ('snap_43','tr_163');
INSERT INTO S_INCLUDE_TR VALUES ('snap_43','tr_166');
INSERT INTO S_INCLUDE_TR VALUES ('snap_43','tr_295');
INSERT INTO S_INCLUDE_TR VALUES ('snap_43','tr_5');
INSERT INTO S_INCLUDE_TR VALUES ('snap_44','tr_61');
INSERT INTO S_INCLUDE_TR VALUES ('snap_44','tr_71');
INSERT INTO S_INCLUDE_TR VALUES ('snap_44','tr_115');
INSERT INTO S_INCLUDE_TR VALUES ('snap_44','tr_143');
INSERT INTO S_INCLUDE_TR VALUES ('snap_44','tr_147');
INSERT INTO S_INCLUDE_TR VALUES ('snap_44','tr_170');
INSERT INTO S_INCLUDE_TR VALUES ('snap_44','tr_257');
INSERT INTO S_INCLUDE_TR VALUES ('snap_45','tr_3');
INSERT INTO S_INCLUDE_TR VALUES ('snap_45','tr_72');
INSERT INTO S_INCLUDE_TR VALUES ('snap_45','tr_82');
INSERT INTO S_INCLUDE_TR VALUES ('snap_46','tr_103');
INSERT INTO S_INCLUDE_TR VALUES ('snap_47','tr_198');
INSERT INTO S_INCLUDE_TR VALUES ('snap_47','tr_235');
INSERT INTO S_INCLUDE_TR VALUES ('snap_47','tr_248');
INSERT INTO S_INCLUDE_TR VALUES ('snap_47','tr_286');
INSERT INTO S_INCLUDE_TR VALUES ('snap_47','tr_11');
INSERT INTO S_INCLUDE_TR VALUES ('snap_47','tr_93');
INSERT INTO S_INCLUDE_TR VALUES ('snap_48','tr_32');
INSERT INTO S_INCLUDE_TR VALUES ('snap_48','tr_92');
INSERT INTO S_INCLUDE_TR VALUES ('snap_48','tr_176');
INSERT INTO S_INCLUDE_TR VALUES ('snap_48','tr_178');
INSERT INTO S_INCLUDE_TR VALUES ('snap_48','tr_182');
INSERT INTO S_INCLUDE_TR VALUES ('snap_48','tr_189');
INSERT INTO S_INCLUDE_TR VALUES ('snap_49','tr_15');
INSERT INTO S_INCLUDE_TR VALUES ('snap_50','tr_200');
INSERT INTO S_INCLUDE_TR VALUES ('snap_50','tr_261');
INSERT INTO S_INCLUDE_TR VALUES ('snap_50','tr_276');
INSERT INTO S_INCLUDE_TR VALUES ('snap_50','tr_294');
INSERT INTO S_INCLUDE_TR VALUES ('snap_50','tr_6');
INSERT INTO S_INCLUDE_TR VALUES ('snap_50','tr_73');
INSERT INTO S_INCLUDE_TR VALUES ('snap_51','tr_122');
INSERT INTO S_INCLUDE_TR VALUES ('snap_52','tr_245');
INSERT INTO S_INCLUDE_TR VALUES ('snap_52','tr_279');
INSERT INTO S_INCLUDE_TR VALUES ('snap_52','tr_104');
INSERT INTO S_INCLUDE_TR VALUES ('snap_52','tr_118');
INSERT INTO S_INCLUDE_TR VALUES ('snap_53','tr_177');
INSERT INTO S_INCLUDE_TR VALUES ('snap_54','tr_52');
INSERT INTO S_INCLUDE_TR VALUES ('snap_54','tr_284');
INSERT INTO S_INCLUDE_TR VALUES ('snap_55','tr_229');
INSERT INTO S_INCLUDE_TR VALUES ('snap_55','tr_252');
INSERT INTO S_INCLUDE_TR VALUES ('snap_55','tr_267');
INSERT INTO S_INCLUDE_TR VALUES ('snap_55','tr_285');
INSERT INTO S_INCLUDE_TR VALUES ('snap_56','tr_29');
INSERT INTO S_INCLUDE_TR VALUES ('snap_56','tr_35');
INSERT INTO S_INCLUDE_TR VALUES ('snap_56','tr_121');
INSERT INTO S_INCLUDE_TR VALUES ('snap_56','tr_124');
INSERT INTO S_INCLUDE_TR VALUES ('snap_57','tr_200');
INSERT INTO S_INCLUDE_TR VALUES ('snap_57','tr_261');
INSERT INTO S_INCLUDE_TR VALUES ('snap_57','tr_276');
INSERT INTO S_INCLUDE_TR VALUES ('snap_57','tr_294');
INSERT INTO S_INCLUDE_TR VALUES ('snap_58','tr_167');
INSERT INTO S_INCLUDE_TR VALUES ('snap_58','tr_218');
INSERT INTO S_INCLUDE_TR VALUES ('snap_58','tr_221');
INSERT INTO S_INCLUDE_TR VALUES ('snap_58','tr_225');
INSERT INTO S_INCLUDE_TR VALUES ('snap_58','tr_274');
INSERT INTO S_INCLUDE_TR VALUES ('snap_59','tr_123');
INSERT INTO S_INCLUDE_TR VALUES ('snap_59','tr_129');
INSERT INTO S_INCLUDE_TR VALUES ('snap_59','tr_159');
INSERT INTO S_INCLUDE_TR VALUES ('snap_59','tr_258');
INSERT INTO S_INCLUDE_TR VALUES ('snap_59','tr_263');
INSERT INTO S_INCLUDE_TR VALUES ('snap_59','tr_278');
INSERT INTO S_INCLUDE_TR VALUES ('snap_60','tr_88');
INSERT INTO S_INCLUDE_TR VALUES ('snap_60','tr_150');
INSERT INTO S_INCLUDE_TR VALUES ('snap_60','tr_201');
INSERT INTO S_INCLUDE_TR VALUES ('snap_60','tr_280');
INSERT INTO S_INCLUDE_TR VALUES ('snap_61','tr_17');
INSERT INTO S_INCLUDE_TR VALUES ('snap_61','tr_42');
INSERT INTO S_INCLUDE_TR VALUES ('snap_62','tr_120');
INSERT INTO S_INCLUDE_TR VALUES ('snap_62','tr_168');
INSERT INTO S_INCLUDE_TR VALUES ('snap_63','tr_179');
INSERT INTO S_INCLUDE_TR VALUES ('snap_64','tr_217');
INSERT INTO S_INCLUDE_TR VALUES ('snap_64','tr_220');
INSERT INTO S_INCLUDE_TR VALUES ('snap_64','tr_9');
INSERT INTO S_INCLUDE_TR VALUES ('snap_64','tr_44');
INSERT INTO S_INCLUDE_TR VALUES ('snap_64','tr_80');
INSERT INTO S_INCLUDE_TR VALUES ('snap_64','tr_85');
INSERT INTO S_INCLUDE_TR VALUES ('snap_65','tr_26');
INSERT INTO S_INCLUDE_TR VALUES ('snap_66','tr_198');
INSERT INTO S_INCLUDE_TR VALUES ('snap_66','tr_235');
INSERT INTO S_INCLUDE_TR VALUES ('snap_66','tr_248');
INSERT INTO S_INCLUDE_TR VALUES ('snap_66','tr_286');
INSERT INTO S_INCLUDE_TR VALUES ('snap_66','tr_11');
INSERT INTO S_INCLUDE_TR VALUES ('snap_66','tr_93');
INSERT INTO S_INCLUDE_TR VALUES ('snap_67','tr_11');
INSERT INTO S_INCLUDE_TR VALUES ('snap_67','tr_93');
INSERT INTO S_INCLUDE_TR VALUES ('snap_67','tr_198');
INSERT INTO S_INCLUDE_TR VALUES ('snap_67','tr_235');
INSERT INTO S_INCLUDE_TR VALUES ('snap_68','tr_177');
INSERT INTO S_INCLUDE_TR VALUES ('snap_69','tr_123');
INSERT INTO S_INCLUDE_TR VALUES ('snap_69','tr_129');
INSERT INTO S_INCLUDE_TR VALUES ('snap_69','tr_159');
INSERT INTO S_INCLUDE_TR VALUES ('snap_69','tr_258');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_236');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_240');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_17');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_42');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_46');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_66');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_116');
INSERT INTO S_INCLUDE_TR VALUES ('snap_70','tr_126');
INSERT INTO S_INCLUDE_TR VALUES ('snap_71','tr_170');
INSERT INTO S_INCLUDE_TR VALUES ('snap_71','tr_257');
INSERT INTO S_INCLUDE_TR VALUES ('snap_71','tr_61');
INSERT INTO S_INCLUDE_TR VALUES ('snap_71','tr_71');
INSERT INTO S_INCLUDE_TR VALUES ('snap_71','tr_115');
INSERT INTO S_INCLUDE_TR VALUES ('snap_71','tr_143');
INSERT INTO S_INCLUDE_TR VALUES ('snap_72','tr_137');
INSERT INTO S_INCLUDE_TR VALUES ('snap_72','tr_175');
INSERT INTO S_INCLUDE_TR VALUES ('snap_73','tr_16');
INSERT INTO S_INCLUDE_TR VALUES ('snap_73','tr_54');
INSERT INTO S_INCLUDE_TR VALUES ('snap_73','tr_55');
INSERT INTO S_INCLUDE_TR VALUES ('snap_73','tr_140');
INSERT INTO S_INCLUDE_TR VALUES ('snap_73','tr_172');
INSERT INTO S_INCLUDE_TR VALUES ('snap_74','tr_12');
INSERT INTO S_INCLUDE_TR VALUES ('snap_74','tr_50');
INSERT INTO S_INCLUDE_TR VALUES ('snap_75','tr_172');
INSERT INTO S_INCLUDE_TR VALUES ('snap_75','tr_188');
INSERT INTO S_INCLUDE_TR VALUES ('snap_75','tr_196');
INSERT INTO S_INCLUDE_TR VALUES ('snap_75','tr_203');
INSERT INTO S_INCLUDE_TR VALUES ('snap_75','tr_283');
INSERT INTO S_INCLUDE_TR VALUES ('snap_76','tr_255');
INSERT INTO S_INCLUDE_TR VALUES ('snap_76','tr_265');
INSERT INTO S_INCLUDE_TR VALUES ('snap_76','tr_272');
INSERT INTO S_INCLUDE_TR VALUES ('snap_76','tr_287');
INSERT INTO S_INCLUDE_TR VALUES ('snap_76','tr_290');
INSERT INTO S_INCLUDE_TR VALUES ('snap_76','tr_1');
INSERT INTO S_INCLUDE_TR VALUES ('snap_77','tr_273');
INSERT INTO S_INCLUDE_TR VALUES ('snap_77','tr_8');
INSERT INTO S_INCLUDE_TR VALUES ('snap_77','tr_53');
INSERT INTO S_INCLUDE_TR VALUES ('snap_77','tr_89');
INSERT INTO S_INCLUDE_TR VALUES ('snap_78','tr_22');
INSERT INTO S_INCLUDE_TR VALUES ('snap_78','tr_67');
INSERT INTO S_INCLUDE_TR VALUES ('snap_79','tr_61');
INSERT INTO S_INCLUDE_TR VALUES ('snap_79','tr_71');
INSERT INTO S_INCLUDE_TR VALUES ('snap_79','tr_115');
INSERT INTO S_INCLUDE_TR VALUES ('snap_79','tr_143');
INSERT INTO S_INCLUDE_TR VALUES ('snap_80','tr_137');
INSERT INTO S_INCLUDE_TR VALUES ('snap_81','tr_88');
INSERT INTO S_INCLUDE_TR VALUES ('snap_81','tr_150');
INSERT INTO S_INCLUDE_TR VALUES ('snap_82','tr_258');
INSERT INTO S_INCLUDE_TR VALUES ('snap_82','tr_263');
INSERT INTO S_INCLUDE_TR VALUES ('snap_82','tr_278');
INSERT INTO S_INCLUDE_TR VALUES ('snap_82','tr_123');
INSERT INTO S_INCLUDE_TR VALUES ('snap_83','tr_216');
INSERT INTO S_INCLUDE_TR VALUES ('snap_83','tr_268');
INSERT INTO S_INCLUDE_TR VALUES ('snap_83','tr_271');
INSERT INTO S_INCLUDE_TR VALUES ('snap_83','tr_277');
INSERT INTO S_INCLUDE_TR VALUES ('snap_83','tr_281');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_1');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_48');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_83');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_110');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_141');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_255');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_265');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_272');
INSERT INTO S_INCLUDE_TR VALUES ('snap_84','tr_287');
INSERT INTO S_INCLUDE_TR VALUES ('snap_85','tr_123');
INSERT INTO S_INCLUDE_TR VALUES ('snap_85','tr_129');
INSERT INTO S_INCLUDE_TR VALUES ('snap_85','tr_159');
INSERT INTO S_INCLUDE_TR VALUES ('snap_85','tr_258');
INSERT INTO S_INCLUDE_TR VALUES ('snap_85','tr_263');
INSERT INTO S_INCLUDE_TR VALUES ('snap_86','tr_9');
INSERT INTO S_INCLUDE_TR VALUES ('snap_86','tr_44');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_13');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_84');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_100');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_145');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_148');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_155');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_169');
INSERT INTO S_INCLUDE_TR VALUES ('snap_87','tr_174');
INSERT INTO S_INCLUDE_TR VALUES ('snap_88','tr_16');
INSERT INTO S_INCLUDE_TR VALUES ('snap_88','tr_54');
INSERT INTO S_INCLUDE_TR VALUES ('snap_88','tr_55');
INSERT INTO S_INCLUDE_TR VALUES ('snap_89','tr_52');
INSERT INTO S_INCLUDE_TR VALUES ('snap_89','tr_284');
INSERT INTO S_INCLUDE_TR VALUES ('snap_90','tr_200');
INSERT INTO S_INCLUDE_TR VALUES ('snap_90','tr_261');
INSERT INTO S_INCLUDE_TR VALUES ('snap_90','tr_276');
INSERT INTO S_INCLUDE_TR VALUES ('snap_90','tr_294');
INSERT INTO S_INCLUDE_TR VALUES ('snap_91','tr_264');
INSERT INTO S_INCLUDE_TR VALUES ('snap_92','tr_87');
INSERT INTO S_INCLUDE_TR VALUES ('snap_92','tr_152');
INSERT INTO S_INCLUDE_TR VALUES ('snap_92','tr_167');
INSERT INTO S_INCLUDE_TR VALUES ('snap_93','tr_1');
INSERT INTO S_INCLUDE_TR VALUES ('snap_93','tr_48');
INSERT INTO S_INCLUDE_TR VALUES ('snap_94','tr_12');
INSERT INTO S_INCLUDE_TR VALUES ('snap_94','tr_50');
INSERT INTO S_INCLUDE_TR VALUES ('snap_94','tr_75');
INSERT INTO S_INCLUDE_TR VALUES ('snap_94','tr_117');
INSERT INTO S_INCLUDE_TR VALUES ('snap_95','tr_236');
INSERT INTO S_INCLUDE_TR VALUES ('snap_95','tr_240');
INSERT INTO S_INCLUDE_TR VALUES ('snap_95','tr_17');
INSERT INTO S_INCLUDE_TR VALUES ('snap_95','tr_42');
INSERT INTO S_INCLUDE_TR VALUES ('snap_96','tr_26');
INSERT INTO S_INCLUDE_TR VALUES ('snap_96','tr_30');
INSERT INTO S_INCLUDE_TR VALUES ('snap_97','tr_74');
INSERT INTO S_INCLUDE_TR VALUES ('snap_97','tr_119');
INSERT INTO S_INCLUDE_TR VALUES ('snap_97','tr_128');
INSERT INTO S_INCLUDE_TR VALUES ('snap_97','tr_146');
INSERT INTO S_INCLUDE_TR VALUES ('snap_97','tr_154');
INSERT INTO S_INCLUDE_TR VALUES ('snap_98','tr_21');
INSERT INTO S_INCLUDE_TR VALUES ('snap_98','tr_51');
INSERT INTO S_INCLUDE_TR VALUES ('snap_98','tr_138');
INSERT INTO S_INCLUDE_TR VALUES ('snap_98','tr_180');
INSERT INTO S_INCLUDE_TR VALUES ('snap_98','tr_222');
INSERT INTO S_INCLUDE_TR VALUES ('snap_98','tr_262');
INSERT INTO S_INCLUDE_TR VALUES ('snap_99','tr_74');
INSERT INTO S_INCLUDE_TR VALUES ('snap_100','tr_201');
INSERT INTO S_INCLUDE_TR VALUES ('snap_100','tr_280');