In [ ]:
# INSERT INTO RANKING_SNAPSHOT VALUES ('snapshot_1','for_match5', 'user_43','comment11','1111-11-11','2222-2-22',362,10);

# 이름            널?       유형             
# ------------- -------- -------------- 
# SNAPSHOT_ID   NOT NULL VARCHAR2(11)   
# THING_RANK_ID          VARCHAR2(11)   
# USER_ID                VARCHAR2(11)   
# CONTENT       NOT NULL VARCHAR2(3000) 
# TAKEN_DATE             DATE           
# UPDATE_DATE            DATE           
# LIKE_COUNT             NUMBER(10)     
# DISLIKE_COUNT          NUMBER(10

In [26]:
import random
import cx_Oracle
import pandas as pd

In [ ]:
cx_Oracle.init_oracle_client(lib_dir=r"C:\OracleDBproject\instantclient_21_7")  # 여기서 각자 라이브러리 위치 설정해줘야함
connection = cx_Oracle.connect(user='admin', password='Semorang1234', dsn='semodb_high')
# 본인이 접속할 오라클 클라우드 DB 사용자이름, 비밀번호, dsn을 넣어준다.
print(connection)

In [20]:
def excute_sql(query):
    cursor = connection.cursor()
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    # return len(rows)

In [21]:
excute_sql("select * from USers")

('user_1', 'pw1343642', '민서호', '대구 서구', '01076096244')
('user_2', 'pw4722452', '조지윤', '대구 북구', '01089331704')
('user_3', 'pw3898088', '임민연', '대구 수성구', '01080182636')
('user_4', 'pw5911534', '이하준', '대구 북구', '01064954613')
('user_5', 'pw0092049', '고주진', '대구 서구', '01072585260')
('user_6', 'pw5276294', '오윤연', '대구 중구', '01023086654')
('user_7', 'pw2187810', '윤도준', '대구 달서구', '01091626983')
('user_8', 'pw9221885', '이예진', '대구 북구', '01074314666')
('user_9', 'pw8955753', '전채서', '대구 중구', '01028415936')
('user_10', 'pw9734514', '윤채서', '대구 서구', '01024273997')
('user_11', 'pw7974042', '조지우', '대구 동구', '01088273202')
('user_12', 'pw7758376', '전하윤', '대구 수성구', '01050842648')
('user_13', 'pw7784426', '장주후', '대구 수성구', '01002957496')
('user_14', 'pw0434872', '전현은', '대구 수성구', '01017034919')
('user_15', 'pw5022385', '김지아', '대구 서구', '01051377166')
('user_16', 'pw9524673', '임하연', '대구 수성구', '01054799630')
('user_17', 'pw9571162', '김주아', '대구 동구', '01077739718')
('user_18', 'pw2054852', '김윤후', '대구 동구', '01041340004')
('user_19', 'pw8133515', '조하준', '대구 서구', '01059985518')
('user_20', 'pw8045694', '권예아', '대구 달서구', '01009160140')
('user_21', 'pw5510291', '민도준', '대구 북구', '01086807809')
('user_22', 'pw4529987', '오도원', '대구 북구', '01079728771')
('user_23', 'pw1846101', '정서우', '대구 중구', '01052738039')
('user_24', 'pw1681449', '정지호', '대구 수성구', '01032200176')
('user_25', 'pw4737710', '김도서', '대구 서구', '01079620301')
('user_26', 'pw2584208', '정채원', '대구 달서구', '01097555343')
('user_27', 'pw2253740', '조예준', '대구 서구', '01070460562')
('user_28', 'pw6781757', '장지진', '대구 남구', '01052389543')
('user_29', 'pw0307002', '권현후', '대구 북구', '01073745125')
('user_30', 'pw1256833', '최민호', '대구 달서구', '01007644615')
('user_31', 'pw9171763', '정예서', '대구 남구', '01000848026')
('user_32', 'pw8787178', '김현원', '대구 남구', '01082791315')
('user_33', 'pw8698864', '오현아', '대구 서구', '01020040745')
('user_34', 'pw0990253', '임지서', '대구 서구', '01010442422')
('user_35', 'pw6659575', '정채연', '대구 중구', '01061212836')
('user_36', 'pw4023247', '정민우', '대구 달서구', '01032774070')
('user_37', 'pw9870497', '오예후', '대구 남구', '01026653545')
('user_38', 'pw0964051', '조채후', '대구 달서구', '01098550822')
('user_39', 'pw2346404', '전민윤', '대구 남구', '01016655255')
('user_40', 'pw5382087', '정하은', '대구 중구', '01033885158')
('user_41', 'pw1139129', '최현연', '대구 동구', '01055117047')
('user_42', 'pw1042749', '김주윤', '대구 달서구', '01099123337')
('user_43', 'pw1473283', '박하윤', '대구 북구', '01057078152')
('user_44', 'pw2237140', '이도후', '대구 동구', '01053429418')
('user_45', 'pw1143161', '고도윤', '대구 달서구', '01029573793')
('user_46', 'pw6136769', '김서서', '대구 달서구', '01088506007')
('user_47', 'pw0400235', '최현서', '대구 북구', '01045090861')
('user_48', 'pw6808900', '박서서', '대구 달서구', '01097026403')
('user_49', 'pw9092227', '정채호', '대구 중구', '01010012914')
('user_50', 'pw6520501', '김민준', '대구 수성구', '01059657064')

50

In [18]:
def desc(table):
    cur = connection.cursor()
    cur.execute("select * from "+table)
    print(" (name, type, display_size, internal_size, precision, scale, null_ok)")
    for column in cur.description:
        print(column)

In [19]:
desc("ranking_snapshot")

 (name, type, display_size, internal_size, precision, scale, null_ok)
('SNAPSHOT_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 11, 11, None, None, 0)
('THING_RANK_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 11, 11, None, None, 1)
('USER_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 11, 11, None, None, 1)
('CONTENT', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 3000, 3000, None, None, 0)
('TAKEN_DATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1)
('UPDATE_DATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1)
('LIKE_COUNT', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 10, 0, 1)
('DISLIKE_COUNT', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 10, 0, 1)

In [ ]:
def make_snapshot_df():
    make_thingrank_user()
    make_content()
    make_other()
    return df

In [66]:
# 해당 유저에 대한 thingrank를 가져오고 그중에서 랜덤하게 선택해서 데이터 생성
def make_thingrank_user(n):
    # user ID 다 가져오기
    cursor = connection.cursor()
    cursor.execute("select U.USER_ID from USERS U")
    rows = cursor.fetchall()
    print(len(rows))
    user_list = []
    thingrank_list = []
    count = 0
    while count < n:
        user = rows[random.randint(0,len(rows)-1)][0]
        cursor = connection.cursor()
        print(user)
        cursor.execute("select TR.THING_RANK_ID from USERS U ,THINGRANK TR WHERE U.USER_ID = TR.USER_ID AND U.USER_ID = :TEMP_USER_ID",TEMP_USER_ID = user)
        tr_rows = cursor.fetchall()
        print(tr_rows)
        # n개의 thingrank에 대해서 m개의 snapshot이 존재 가능
        if(len(tr_rows)>0):
            i = random.randint(0,len(tr_rows)-1)
            user_list.append(user)
            thingrank_list.append(tr_rows[i][0])
            count +=1
        else:
            pass
    print ('userlist:')
    print(user_list)
    print ('thingrank list:')
    print( thingrank_list)
    df= pd.DataFrame(data = user_list ,columns=['USER_ID'])
    df.index +=1
    df['THING_RANK'] = thingrank_list
    return df

    ## DB 새로만들어야할듯

In [68]:
make_thingrank_user(10)

50
user_44
[('for_match12',), ('for_match18',), ('for_match32',)]
user_49
[]
user_3
[('for_match17',), ('for_match23',)]
user_27
[('for_match29',)]
user_15
[('for_match47',)]
user_3
[('for_match17',), ('for_match23',)]
user_47
[('for_match38',)]
user_9
[]
user_30
[]
user_27
[('for_match29',)]
user_5
[]
user_7
[]
user_41
[('for_match27',)]
user_24
[('for_match14',), ('for_match16',), ('for_match33',), ('for_match46',)]
user_5
[]
user_22
[('for_match7',), ('for_match34',)]
userlist:
['user_44', 'user_3', 'user_27', 'user_15', 'user_3', 'user_47', 'user_27', 'user_41', 'user_24', 'user_22']
thingrank list:
['for_match12', 'for_match17', 'for_match29', 'for_match47', 'for_match17', 'for_match38', 'for_match29', 'for_match27', 'for_match16', 'for_match7']

    USER_ID   THING_RANK
1   user_44  for_match12
2    user_3  for_match17
3   user_27  for_match29
4   user_15  for_match47
5    user_3  for_match17
6   user_47  for_match38
7   user_27  for_match29
8   user_41  for_match27
9   user_24  for_match16
10  user_22   for_match7

In [40]:
cursor = connection.cursor()
cursor.execute("select U.USER_ID from USERS U")
rows = cursor.fetchall()
user_list = []
# df= pd.DataFrame(data = user_list ,columns=['USER_ID'])
# df.index +=1
thingrank_list = []
for i in range(n)
    user = rows[random.randint(len(rows)-1)]
    cursor = connection.cursor()
    cursor.execute("select TR.THING_RANK_ID from USERS U ,THINGRANK TR WHERE U.USER_ID = TR.USER_ID AND U.USER_ID = :TEMP_USER_ID",TEMP_USER_ID = user)
    rows = cursor.fetchall()
    # n개의 thingrank에 대해서 m개의 snapshot이 존재 가능
    if(len(rows)>0):
       i = random.randint(0,len(rows)-1)
       user_list.append(user)
       thingrank_list.append(rows[i])
    else:
        pass
df['THING_RANK_ID'] = thingrank_list
df

3
1
0

ValueError: empty range for randrange() (0, 0, 0)

In [32]:
df= pd.DataFrame(data = [row[0] for row in rows],columns=['USER_ID'])
df.index +=1
df

    USER_ID
1    user_1
2   user_10
3   user_11
4   user_12
5   user_13
6   user_14
7   user_15
8   user_16
9   user_17
10  user_18
11  user_19
12   user_2
13  user_20
14  user_21
15  user_22
16  user_23
17  user_24
18  user_25
19  user_26
20  user_27
21  user_28
22  user_29
23   user_3
24  user_30
25  user_31
26  user_32
27  user_33
28  user_34
29  user_35
30  user_36
31  user_37
32  user_38
33  user_39
34   user_4
35  user_40
36  user_41
37  user_42
38  user_43
39  user_44
40  user_45
41  user_46
42  user_47
43  user_48
44  user_49
45   user_5
46  user_50
47   user_6
48   user_7
49   user_8
50   user_9

In [53]:
i = random.randint(0,0)
i

0